In [1]:
import pandas as pd
#importando os arquivos
vendas_df = pd.read_csv(r'Contoso_Vendas _2017.csv', sep=";", encoding='utf-8')
produtos_df = pd.read_csv(r'Contoso_CadastroProdutos.csv', sep=";", encoding='Latin1')
lojas_df = pd.read_csv(r'Contoso_Lojas.csv', sep=";", encoding='ISO-8859-1')
clientes_df = pd.read_csv(r'Contoso_Clientes.csv', sep=";", encoding='ISO-8859-1')

üé≤ **REMOVENDO COLUNAS DESNECESS√ÅRIAS:**

In [2]:
vendas_df = vendas_df.drop('ID Promocao', axis=1)

üß© **RENOMEANDO COLUNAS BUGADAS:**

In [3]:
lojas_df.rename(columns={"√øID Loja": "ID Loja"}, inplace=True)
produtos_df.rename(columns={'√øNome do Produto': 'Nome do Produto'}, inplace=True)
clientes_df.rename(columns={'√øID Cliente': 'ID Cliente'}, inplace=True)

üÉè **EXTRAINDO DUAS OU + COLUNAS:**

In [4]:
clientes_df = clientes_df[['ID Cliente', 'E-mail']]
produtos_df = produtos_df[['ID Produto', 'Nome do Produto']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]


ü™¢ **COMBINANDO DOIS DATAFRAMES COM BASE EM COLUNAS OU INDICES EM COMUM, NO CASO UTILIZEI OS ID'S:**

In [5]:
vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
vendas_df = vendas_df.merge(lojas_df, on='ID Loja')
vendas_df = vendas_df.merge(clientes_df, on='ID Cliente')


‚¨áÔ∏è **AGORA SE QUISERMOS UMA COLUNA COM O ANO, M√äS E DIA DA VENDA? EXTRAINDO AS INFORMA√á√ïES DO DATAFRAME PRINCIPAL:**

In [6]:
vendas_df['Data da Venda'] = pd.to_datetime(vendas_df['Data da Venda'], format='%d/%m/%Y')
vendas_df['Ano da Venda'] = vendas_df['Data da Venda'].dt.year
vendas_df['M√™s da Venda'] = vendas_df['Data da Venda'].dt.month
vendas_df['Dia da Venda'] = vendas_df['Data da Venda'].dt.day

ü™Ñ **VAMOS BUSCAR UMA 'ROW' PASSANDO AS CONDICIONAIS:**

In [7]:
lojas_condicionais = vendas_df.query("`ID Loja` == 86 and `Quantidade Devolvida` == 1 and `ID Produto` == 981")

üîÆ **ALTERAR/MODIFICAR VALORES ESPECIFICOS DENTRO DE UMA COLUNA**
> objeto.loc['indice', 'coluna'] -> retorna o dado

> objeto.iloc[valor_linha, valor_coluna] -> return o dado

In [8]:
produto_newVar = pd.read_csv(r'Contoso_CadastroProdutos.csv', sep=";", encoding='ISO-8859-1')
produto_newVar.rename(columns={'√øNome do Produto': 'Nome do Produto'}, inplace=True)

name_produto = 'Contoso Wireless Laser Mouse E50 Grey'

nameProduto_indc = produto_newVar.set_index('Nome do Produto') # VAMOS SETAR OS NOMES DOS PRODUTOS COMO INDICE:
produto_aleat = nameProduto_indc.loc[name_produto, 'Preco Unitario'] # return: '20,96'

# display(nameProduto_indc[:5]) # Tabela Original
nameProduto_indc.loc[name_produto, 'Preco Unitario'] = 19.99 # ALTERANDO O VALOR DO PRODUTO 
# display(nameProduto_indc[:5]) # Tabela Modificada

üé≥ **SALVANDO/EXPORTANDO DE DATAFRAME PARA CSV:**

In [9]:
# vendas_df.to_csv(r'Novo_Vendas_2017.csv', sep=';', encoding='letin1')

ü•ã **TRANSFORMANDO UM DICION√ÅRIO EM DATAFRAME:**
> A orienta√ß√£o padrao de from_dict() √© 'columns', por isso o par√¢metro orient='index'.

In [10]:
vendas_produtos = {
    'iphone': [566464, 345347],
    'Samsung': [678677, 346545],
    'Motorola': [675535, 423534],
    'Google': [456789, 543210],
    'Sony': [987654, 234567],
    'LG': [876543, 345678],
    'Huawei': [765432, 456789],
    'Xiaomi': [654321, 567890],
    'OnePlus': [543210, 678901],
    'Nokia': [432109, 789012]
}

vendas_produtos_df = pd.DataFrame.from_dict(vendas_produtos, orient='index') 

vendas_produtos_df.rename(columns={0: '2019'}, inplace=True) # renomeando as colunas
vendas_produtos_df.rename(columns={1: '2020'}, inplace=True) # renomeando as colunas

# vendas_produtos_df.to_csv(r'dicionario_produtos.csv', sep=';', encoding='letin1')

üß© **LENDO UM ARQUIVO .CSV DIRETO DA INTERNET:**
> Caso 1: csv direto no link: https://drive.google.com/uc?authuser=0&id=1Ru7s-x3YJuStZK1mqr_qNqiHVvdHUN66&export=download

In [11]:
import pandas as pd

url = 'https://drive.google.com/uc?authuser=0&id=1Ru7s-x3YJuStZK1mqr_qNqiHVvdHUN66&export=download'
cotacao_df = pd.read_csv(url)

> Caso 2: csv em uma requisi√ß√£o que precisa ser tratada: https://portalweb.cooxupe.com.br:9080/portal/precohistoricocafe.jsp

In [12]:
import pandas as pd
import requests
import io

url_ = 'https://portalweb.cooxupe.com.br:9080/portal/precohistoricocafe_1.jsp?d-3961599-e=2&6578706f7274=1' #Excell
content_url = requests.get(url_).content # Buscando conteudo desse link
arquivo = io.StringIO(content_url.decode('latin1')) # decodificando os bytes e criando um objeto StringIO que cont√©m o texto resultante.
cafe_df = pd.read_csv(arquivo, sep='\t')

üéØ **INTEGRA√á√ÉO PYTHON + EXCEL**
1. Pandas
    - Mais usada no geral
    - Trata o Excel como uma base de dados
    - Faz o que quiser com o arquivo
    - Pode desfazer a estrutura original do arquivo, caso queira editar

2. Openpyxl
    - Trata o Excel como uma planilha mesmo que pode ter v√°rias coisas
    - Edita "como se fosse um VBA"
    - Menos eficiente
    - Mant√©m mais a estrutura original do arquivo (f√≥rmulas e gr√°ficos), mas cuidado porque n√£o necessariamente tudo, ent√£o tem que testar

- Temos uma planilha de produtos e servi√ßos. Com o aumento de imposto sobre os servi√ßos, temos que atualizar o pre√ßo dos produtos impactados pela mudan√ßa.

Atual Multiplicador Imposto: 1.2  
Novo Multiplicador Imposto: 1.5

In [13]:
import pandas as pd

# Passo 1: Atualizar o MUltiplicador 
tabelaDf = pd.read_excel('produtos.xlsx')
tabelaDf.loc[tabelaDf['Tipo'] == 'Servi√ßo', "Multiplicador Imposto"] = 1.5
tabelaDf.loc[tabelaDf['Produtos'] ==  'Computador',  'Multiplicador Imposto'] = 1.2

#Passo 2: Pre√ßo Base Reais
tabelaDf['Pre√ßo Base Reais'] = tabelaDf['Pre√ßo Base Original'] * tabelaDf['Multiplicador Imposto']
display(tabelaDf)

# Passo 3: Salvar/Exportar em arquivo Excell:
tabelaDf.to_excel(r'produtoPandas.xlsx', index=False) # para salvar sem coluna de index no Excell -> index=False

,Produtos,Pre√ßo Base Original,Tipo,Multiplicador Imposto,Pre√ßo Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,P√≥s Gradua√ß√£o,4500.00,Servi√ßo,1.5,6750.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem A√©rea,799.00,Servi√ßo,1.5,1198.500
4,Computador,3000.00,Produto,1.2,3600.000
5,SPA,480.48,Servi√ßo,1.5,720.720
6,Corte Cabelo,50.00,Servi√ßo,1.5,75.000

In [25]:
for i, id_loja in enumerate(vendas_df['ID Loja']):
    if id_loja == 86:
        vendas_df.loc[i, 'Quantidade Devolvida'] = 0
display(vendas_df)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome do Produto,Nome da Loja,E-mail,Ano da Venda,M√™s da Venda,Dia da Venda
0,1,2017-01-01,02/01/2017,1,86,981,6825,9,2,A. Datum Advanced Digital Camera M300 Pink,Loja Contoso Austin,rbrumfieldmy@ameblo.jp,2017,1,1
1,880458,2017-11-23,23/11/2017,0,306,235,6825,8,0,Litware Home Theater System 7.1 Channel M710 B...,Loja Contoso Europe Online,rbrumfieldmy@ameblo.jp,2017,11,23
2,191019,2017-03-20,21/03/2017,1,172,376,6825,9,0,Adventure Works Laptop12 M1201 Silver,Loja Contoso Hartford,rbrumfieldmy@ameblo.jp,2017,3,20
3,18610,2017-01-08,10/01/2017,2,200,448,6825,48,0,WWI Desktop PC1.80 E1801 Black,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp,2017,1,8
4,287704,2017-04-23,26/04/2017,3,76,280,6825,10,0,Contoso Home Theater System 2.1 Channel M1210 ...,Loja Contoso Beaumont No.1,rbrumfieldmy@ameblo.jp,2017,4,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980637,878244,2017-11-23,23/11/2017,0,110,889,347,12,1,Contoso Bluetooth Notebook Mouse E70 Silver,Loja Contoso Orlando,edowner9m@imdb.com,2017,11,23
980638,920243,2017-12-09,10/12/2017,1,261,1367,38781,13,0,Contoso Expandable 3-Handset Cordless Phone Sy...,Loja Contoso Damascus No.1,ruben31@adventure-works.com,2017,12,9
980639,467482,2017-06-21,25/06/2017,4,115,269,553,10,0,Contoso Home Theater System 4.1 Channel M1400 ...,Loja Contoso New York No.1,akuhnertfc@themeforest.net,2017,6,21
980640,853643,2017-11-13,20/11/2017,7,115,809,38860,6,0,Contoso Dual USB Power Adapter - power adapter...,Loja Contoso New York No.1,anne5@adventure-works.com,2017,11,13
980641,903958,2017-12-02,02/12/2017,0,222,1435,815,8,0,The Phone Company Touch Screen Phones SAW/On-w...,Loja Contoso Roma,ekorneevmm@instagram.com,2017,12,2